#vs code/mac files
.DS_Store
.vscode/

#python ext modules
*.so
*/*.so
*.pyd
*/*.pyd

#python directories
/build/
**/build/
*/__pycache__/
__pycache__/
/env/
.pytest_cache

#project dir
/corpuses/
/checkpoints/